<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.admin.dao.MenuDao">

    <select id="findMenuList" resultType="com.mall.admin.enerty.db.Menu">
        select
            id,
            parent_id,
            title,
            level,
            sort,
            name,
            icon,
            hidden,
            url
        from ums_menu
        order by sort
    </select>


    <select id="findMenuListByLevel" resultType="com.mall.admin.enerty.db.Menu">
        select
            id,
            parent_id,
            title,
            level,
            sort,
            name,
            icon,
            hidden,
            url
        from ums_menu
        where
            level = #{level}
    </select>

</mapper>
