.permit{
  .ant-page-header{
    border: darkgray 1px;
    margin-bottom: 10px;
    size: 12px;
  }
  .ant-page-header{
    max-height: 120px;
  }
  .ant-page-header-heading-title{
    font-size: 15px;
  }

}